#flat-preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity .3s ease-in;
  opacity: 1;
}

#flat-preloader-overlay img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

#flat-preloader-overlay small {
  display: block;
}

#flat-preloader-overlay.hide {
  opacity: 0;
}

.flat-preloader-active {
  overflow: hidden;
}
