#th_preloader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background: white;
}

#th_preloader img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

html, body {
	overflow: hidden;
}